$text-font-stack: 'Outfit', sans-serif;

$text-primary: #8bacda;
$text-secondary: #00fff7;

$bg-main: #0d192b;
$bg-card: #14253d;

$line-color: #2f415b;

$font-size: 1rem;

$desktop-min-width: 1440px;
